.header {
    position: fixed;
    width: 100%;
    z-index: 1;
}
.header__icon {
   line-height: 54px;
   display: block;
   margin-top: 10px;
   margin-left: 20px;
}
.h1 {
   font-size: 1rem;
   margin: 1em 0;
}
.container__header-qmk {
   text-align: end;
}
.header_left {
   display: flex;
}
.header_name {
   color: #1180df;
   padding-top: 20px;
}

/* Form Login */ 
.container{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
.form{
   background: #FBFCFC;
   position:absolute;
   width: 510px;
   height: auto;
   box-shadow: -2px -2px 18px -2px #000;
   border-right: 5px solid var(--primary-color);
   border-bottom: 6px solid var(--primary-color);
}
.form-container{
   margin: 20px;
}
.container__header-logo{
   text-align: center;
   width: 44px;
   height: 40px;
   font-size: 1rem;
   display: block;
   margin: 0 auto;
   margin-top: 20px;
}
.container__header-name{
   margin: 20px;
   text-align: center;
   color:var(--primary-color);
   font-size: 1.25rem;
   font-weight: 600;
   user-select: none;
}
.container__center-input {
   display: flex;
   padding-bottom: 30px;
   position: relative;
}
.icon-email {
    position: absolute;
    top: 4%;
    padding-left: 8px;
    width: 24px;
}
.icon-password {
    position: absolute;
    top: 4%;
    padding-left: 8px;
    width: 24px;
}
.icon-password-2 {
    position: absolute;
    top: 4%;
    padding-left: 8px;
    width: 24px;
}
.container__footer{
   text-align: center;
}
.container__footer-login {
   /* margin-left: 111px; */
   background: #5993EC;
   border: 1px solid #000000;
   box-sizing: border-box;
   /* width: 200px; */
   /* width: 445px; */
   width: 456px;
   font-size: 1rem;
   color: white;
   cursor: pointer;
   font-weight: 700;
   height: 40px;
}
.container__footer-login:hover {
   color: rgba(255, 255, 255, 0.2);
}
.container__center-icon--email {
   font-size: 1rem;
}
.container__center-input-boxname {
   width: 50%;
}
.container__center-input-boxname-one {
    width: 50%;
    text-align: end;
}
.container__center-input--email-one {
    padding: 0 0 0 6px;
    min-height: 30px;
}
.container__center-input--email-two {
    padding: 0 0 0 6px;
    min-height: 30px;
}
.container__center-input--email{
   padding-right: 0;
   padding-left: 30px;
   min-height: 30px;
   width: 100%;
}
.container__center-icon--password {
   font-size: 1rem;
}
.container__center-input--password{
   min-height: 30px;
   width: 100%;
   padding-left: 30px;
}
.container__header-qmk:hover {
   color: rgb(0 156 251);
}
.container__footer-link:hover {
   color: rgb(0 156 251);
}
/* cùng 1 hàng */
.container__footer-footer{
   display:flex;
   justify-content: space-evenly;
   flex-wrap: nowrap;
   align-content: flex-end;
   flex-direction: row;
   align-items: baseline;
}
.container__footer-question {
   font-size: 1rem;
   color: #8E8E8E;
   user-select: none;
}
.container__footer-link {
   font-size: 1rem;
   color: #195fc5e0;
   font-weight: bold;
   line-height: 50px;
   text-decoration: none;
   user-select: none;
}
.container__footer-box {
   box-shadow: 0px -1px 0px 0px #000;
}
.container__footer-box p {
   font-size: 1rem;
   font-weight: 700;
   user-select: none;
}
.container__footer-box a {
   color: #1180df;
   text-decoration: none

}
.container__footer-box a:hover {
   cursor: pointer;
   color: rgba(62 135 177 / 50%);
}

.flex-dec-column {
    flex-direction: column;
}

.flex {
    display: flex;
}

/* Responsive */
/* mobile */
@keyframes menu {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
@media screen and (max-width: 739px){
    .header {
        max-height: 20%;
    }
    .header_left {
        /* max-height: 200%; */
        width: 200%;

    }
    .header__icon {
        width: 10%;
        margin: 0;
        height: 10%;
    }
    .header_name {
        padding-top: 1%;
    }
    .header_name h1{
        font-size: 1em;
    }
    .form-container {
        margin-right: 20%;
        position: absolute;
    }
    .container__header {
        width: 120%;
    }
    .container__center-input {
        padding-bottom: 7%;
        width: 130%;
    }
    .container__center-input--email {
    min-height: 30px;
    min-width: 96%;
    }
    .icon-email {
        top: 39.4%;
    }
    .container__center-input--password {
    min-height: 30px;
    min-width: 96%;
    }
    .icon-password {
        position: absolute;
        top: 51.2%;
        padding-left: 9px;
    }
    .icon-password-2 {
        position: absolute;
        top: 62.7%;
        padding-left: 9px;
    }
    .container__header-qmk {
        line-height: inherit;
        text-align: right;
        margin-bottom: 10%;
        font-size: 1em;
        margin: 33px;
        width: 111%;
        text-align: end;
    }
    .container__footer {
        width: 130%;
    }
    .container__footer-login {
        width: 96%;
        font-size: 1em;
        height: 4vh;
        margin-right: 3%;
    }
    .container__footer-footer {
        width: 94%;
    }
    .form {
        width: 94%;
    }
    .container__center-input-boxname {
        min-width: 157px;
    }
    .container__center-input--email-one {
        width: 90%;
    }
    .container__center-input-boxname-one {
        min-width: 50%;
    }   
    .container__center-input--email-two {
        width: 98.3%;
    }
    .container__footer-box p {
        font-size: 1rem;
        font-weight: 500;
    }
       
}

/* tablet */
@media (min-width: 740px) and (max-width: 1023px){
    .header__right__item:last-child{
        display: none;
    }
    .nav_sub-content{
        max-height: 650px;
    }
    .sub-content__btn-list{

        margin-left: 40%;
    }
    .sub__nav-content-list{
        max-height: 500px;
    }
    .sub__nav-content-btn-list{
        padding-left: 40%;
    }
}

.hide {
    display: none;
}