/* header */
.header {
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    border-radius: 8px;
    padding: 16px;
    -moz-box-shadow: 0px 0px 8px #000000;
    -webkit-box-shadow: 0px 0px 8px #c5c5c5;
    box-shadow: 0px 0px 8px #939393;
}
.header-left {
    width: 200px;
    height: 150px;
    border: 1px solid lightgray;
}
.company-logo {
    width: 100%;
    margin: 10px 0;
    height: 130px;
}
.header-right {
    width: 150px;
}
.header-center {
    width: 100%;
    max-width: 599px;
    margin: 0 20px;
    font-size: 1.4rem;
}
.header-center__name {
    display: grid;
    color: #353535;
}
.company-name,
.company-address {
    margin-bottom: 25px;
}

.company-specialization {
    display: flex;
    flex-wrap: wrap;
}

.company-specialization__left,
.company-specialization__center {
    margin-right: 100px;
}

.work-schedule__left {
    margin-right: 76px;
}

.header-right {
    height: 100px;
}
.btn {
    width: 143px;
    font-weight: 550;
    margin-top: 16px;
    height: 40px;
    border: 1px solid #999;
    border-radius: 6px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    color: #353535;
    cursor: pointer;
}
.btn:nth-child(1):hover {
    color: #ffffff;
    background-color: #3f7af8;
}
.btn:nth-child(2):hover {
    color: #ffffff;
    background-color: #f0d808;
}
.btn-selected {
    background-color: var(--primary-color);
    color: var(--white-color);
}