.sub__nav-content-list {
  margin: 30px 0;
}
.sub__nav-content header {
  margin-top: 50px;
  margin-bottom: -30px;
}
.roww .sub__nav-content-link {
  text-decoration: none;
  font-size: 1.4rem;
  display: flex;
  color: var(--text-color);
  margin-top: 20px;
}
.sub__nav-content-img {
  max-width: 162px;
  max-height: 70px;
  display: block;
  margin-top: 10px;
}
.sub__nav-content-link:hover p {
  color: var(--color-hover);
}
.sub__nav-content-link-content h3 {
  margin: 0;
  display: block;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}
.sub__nav-content-link-content p {
  display: block;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}
.sub__nav-content-link-content {
  margin: 4px 6px;
}

/*  */

/* blog */
.sub__nav-content-list .sub__nav-content-item {
  display: none;
}
.sub__nav-content-item.sub__nav-content-active {
  display: flex;
}
.sub__nav-content-list {
  position: relative;
  max-height: 240px;
}
.sub__nav-content-next-btn {
  position: absolute;
  top: 45%;
  color: var(--primary-color);
  right: 0;
  font-size: 4rem;
  cursor: pointer;
}
.sub__nav-content-prev-btn {
  position: absolute;
  top: 45%;
  left: 0;
  color: var(--primary-color);
  font-size: 4rem;
  cursor: pointer;
}
.sub__nav-content-btn-list {
  padding-left: 47%;
  list-style: none;
}
.sub__nav-content-btn-item {
  display: inline-block;
  width: 20px;
  text-align: center;
  padding-top: 4px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid #000;
  cursor: pointer;
  margin: 0 6px;
}
.sub__nav-content-btn-item-avtive {
  background-color: var(--primary-color);
}
