
:root {
    --blue: #4288f5;
    --green: #68ba50;
    --search-page-width: 1350px;
  }
a {
    color: #4287f5;
    text-decoration: none;
}
#container {
    background: #f7f7f7;
    position: relative;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transition: top 0.3s;
    padding: 80px 0;

}
#scrolltop {
    cursor: pointer;
    position: fixed;
    right: 4%;
    bottom: 6%;
    z-index: 6;
    display: none;
    padding: 15px;
    border-radius: 5px;
    background-color: #fff;
    border-style: solid;
    border-color: #ccc;
    border-width: 1px;
}
#scrolltop .top-arrow {
    width: 7px;
    height: 7px;
    background-color: #e6e6e7;
    position: relative;
    top: 5px;
}
/* company */
.company-reviews-index {
    margin: 1px auto 0;
    max-width: 1330px;
    font-family: "Roboto", sans-serif;
}
/* header search */
.company-reviews-index .panel {
    padding: 10px 20px;
}
.company-reviews-index__header {
    border-radius: 0;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}
.panel {
    margin-bottom: 15px;
    background-color: white;
    border: 1px solid #dddddd;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgb(0 0 0 / 5%);
}
.content {
    padding: 80px 24px;
    text-align: center;
}
.company-reviews-index__header .content {
    max-width: 900px;
    margin: 0 auto;
}
.company-reviews-index__header .content__title {
    font-size: 32px;
}
.company-reviews-index__header .content__slogan {
    font-size: 20px;
    font-weight: 400;
}
.search-form-wrapper--ghost-button {
    margin: 0 auto;
    padding: 10px 0;
}

.search-form-wrapper {
    max-width: 1024px;
    margin: 0 auto;
}
.search-form-wrapper .search-form {
    display: flex;
    flex: 1;
}
.search-form-wrapper--ghost-button .search-form__keyword-section {
    height: 40px;
    line-height: 40px;
    border-radius: 4px;
}
input[type=text].search-form__keyword-input:focus, input[type=text].search-form__keyword-input:active {
    border: none;
    box-shadow: none;
}

.search-form__city-section, .search-form__keyword-section {
    z-index: 999;
    position: relative;
}
.search-form__keyword-section {
    flex-grow: 1;
    display: flex;
    height: 45px;
    line-height: 45px;
}
.search-form__action-section {
    position: relative;
    height: 45px;
    flex: 0 0 110px;
    margin-left: 10px;
}
.search-form__icon {
    padding-left: 10px;
}

.svg-icon {
    display: flex;
    align-items: center;
}
.search-form__keyword-section .svg-icon__icon {
    color: #343a40;
}

.svg-icon--16 .svg-icon__icon {
    width: 16px;
    height: 16px;
}
.svg-icon__icon {
    fill: currentColor;
    width: 14px;
    height: 14px;
    color: #7a7a7a;
    flex-shrink: 0;
}
input[type=text].search-form__keyword-input {
    border: none;
    box-shadow: none;
    height: auto;
    font-size: 16px;
    flex-grow: 1;
    color: #343a40;
}

.form-control, .container-thankyou input[type=email], textarea, input[type=text], input[type=password], input[type=datetime], input[type=datetime-local], input[type=date], input[type=month], input[type=time], input[type=week], input[type=number], input[type=email], input[type=url], input[type=search], input[type=tel], input[type=color], .uneditable-input {
    display: block;
    width: 100%;
    /* padding: 0.375rem 0.75rem; */
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    appearance: none;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.dropdown-toggle {
    white-space: nowrap;
}

.search-form__action-section {
    position: relative;
    height: 45px;
    flex: 0 0 110px;
    margin-left: 10px;
}
.search-form-wrapper--ghost-button .search-form__action {
    background-color: #4f46e5;
    color: #fff;
    padding: 0 8px;
    border: 1px solid #4f46e5;
    border-radius: 4px;
    height: 40px;
    font-size: 16px;
    line-height: 38px;
}

/* Company reviews content*/
.company-reviews-index__content {
    display: grid;
    /* grid-template-columns: 1fr 300px; */
    grid-gap: 10px;
}

.panel {
    margin-bottom: 15px;
    background-color: white;
    border: 1px solid #dddddd;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgb(0 0 0 / 5%);
}
.featured-companies--with-reviews {
    width: auto;
    margin: 0;
}

.featured-companies {
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
}
.featured-companies--with-reviews .title {
    font-size: 24px;
    font-family: "Roboto", sans-serif;
    margin-bottom: 10px;
}

.featured-companies .title {
    color: #353535;
    line-height: 35px;
    font-size: 32px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.title {
    color: #353535;
    line-height: 35.2px;
    font-size: 32px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.title {
    color: #353535;
    line-height: 35.2px;
    font-size: 32px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.featured-companies--with-reviews .companies {
    display: grid;
    grid-template-rows: 1fr 200px 1fr;
    grid-gap: 20px;
}
.featured-companies .companies {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 30px;
}
.company-reviews-index__content .show-more {
    margin-top: 10px;
}
.company-reviews-index__content .show-more a {
    color: #4287f5 !important;
    border-bottom: none;
    font-size: 16px;
}
.text-center {
    text-align: center !important;
}
.featured-companies--with-reviews .companies {
    display: grid;
    grid-template-rows: 1fr 200px 1fr;
    grid-gap: 20px;
}

.featured-companies .companies {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 30px;
}
/* company cards */
.featured-companies .featured-company {
    display: flex;
    flex-direction: column;
    color: #333;
    border: 1px solid #D8D8D8;
}
.company__info {
    padding-left: 15px;
    padding-right: 15px;
    background: white;
}
.featured-companies--with-reviews .featured-company .company__rated {
    border-top: 1px solid #d8d8d8;
    padding: 10px;
    font-size: 14px;
}
.featured-companies--with-reviews .featured-company .company__rated .highly-rated {
    display: flex;
    align-items: center;
}
.featured-companies--with-reviews .featured-company .company__rated .highly-rated-field {
    margin-left: 5px;
}
.featured-companies .featured-company {
    display: flex;
    flex-direction: column;
    color: #333;
    border: 1px solid #D8D8D8;
}
img.lazyloaded[data-controller~=lazyload] {
    opacity: 1;
    transition: opacity 200ms;
}

.company__banner img {
    width: 100%;
}
img[data-controller~=lazyload], img.lazyloading[data-controller~=lazyload] {
    opacity: 0;
}
img, svg {
    vertical-align: middle;
}
.company__header {
    display: flex;
}
.company__logo {
    position: relative;
    top: -16px;
    padding: 4px;
    display: inline-block;
    background-color: #fff;
    border: 1px solid #D2D2D2;
    border-radius: 2px;
}
.company__name {
    display: inline-block;
    position: relative;
    top: 10px;
    margin: 0 10px;
    font-size: 15px;
    font-weight: 500;
    max-height: 50px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    line-height: 1.5em;
    height: 3em;
}
.company__star {
    margin-left: auto;
    margin-top: 10px;
    flex: 0 0 55px;
    align-items: center;
    display: inline-flex;
    justify-content: end;
}
.company__star img {
    max-width: 12px;
    background-color: #4287f5;
    padding: 4px;
    border-radius: 2px;
}
.company__desc {
    font-size: 14px;
    min-height: 39px;
}
.featured-companies--with-reviews .featured-company .company__footer-jobs {
    margin: 0;
    color: #333 !important;
}

.company__footer-jobs {
    display: flex;
    margin-left: auto;
    color: #ea2635;
}
.featured-companies--with-reviews .featured-company .company__footer-reviews {
    color: #EA2635;
    display: flex;
    align-items: center;
}
.featured-companies--with-reviews .featured-company .company__footer {
    justify-content: space-between;
}

.company__footer {
    margin-top: 14px;
    margin-bottom: 14px;
    font-size: 14px;
    display: flex;
    align-items: flex-end;
}