.list__sample {
    position: relative;
    background-color: var(--white-color);
    width: 100%;
    max-width: 215px;
    border-radius: 4px;
    margin: 10px 18px 10px 0;
    box-shadow: 5px 10px 12px 0px rgb(0 0 0 / 20%);
}
.list__sample-img {
    width: 100%;
    height: 185px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    background-image: url("/src/assets/images/cv-tempates/CV.jpg");
}
.CV:hover .list__btn{
    display: block;
}
.list__btn{
    position: absolute;
    top: 0;
    width: 100%;
    height: 185px;
    display: none;
    background: rgba(0, 0, 0, 0.5);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.btn-using {
    background: rgba(255, 199, 0, 1);
    border-radius: 12px;
    margin: 47% 20%;
    padding: 5px 8px;
    border: 1px solid rgba(255, 199, 0, 1);
    color: var(--white-color);
    cursor: pointer;
}
.list__style {
    display: flex;
    margin: 10px 4px;
}
.list__style-item {
    color: var(--white-color);
    background-color: rgba(93, 155, 248, 1);
    margin-left: 6px;
    font-size: 0.75rem;
    border-radius: 3px;
    padding: 0 6px;
}
.list-name {
    padding: 8px 12px;
    font-size: 1rem;
    color: rgba(0, 0, 0, 1);
}
.pagination {
    display: flex;
    padding: 6px 0 18px 12px;
}
.pagination-item {
    height: 6px;
    width: 20px;
    border-radius: 2px;
    background: rgba(80, 180, 252, 1);
    margin-right: 4px;
}
.pagination-item-selected {
    background: linear-gradient(0deg, #FFB6BA, #FFB6BA),linear-gradient(0deg, #FFB6BA, #FFB6BA);
}
.list__status {
    background-color: #5D9BF8;
    padding: 2px 6px;
    position: absolute;
    top: 10px;
    left: 10px;
    border-radius: 2px;
}
.list__status-icon {
    /* color: rgba(104, 186, 80, 1); */
    filter: invert(66%) sepia(25%) saturate(947%) hue-rotate(61deg) brightness(94%) contrast(85%);
    width: 12px;
    height: auto;
}
.list__status-lable {
    color: var(--white-color);
    padding-left: 4px;
}